:host {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: white;
    height: 120px;
}

header {
    padding: 10px;
    background: #ececec;
}

.fixed {
    position: fixed;
    width: 100%;
    transition: 0.2s linear;
    top: 0px;
}

.notfixed {
    position: static;
    transition: 0.2s linear;
    top: -50px;
}

.logo {
    width: 100px;
}

.logo:hover {
    cursor: pointer;
}

.desktop-menu {
    margin-top: 20px;
}

.desktop-menu ul {
    margin: 0;
    /* justify-content: end; */
    gap: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
    /* align-items: center;
    justify-content: center; */
}

.desktop-menu ul li {
    list-style-type: none;
    color: black;
    /* font-size: 20px; */
    padding: 10px;
    margin-left: 0;
    /* justify-content: center;
    align-items: center; */
    /* transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out, color 0.2s ease-in-out; */
}

.desktop-menu ul li:hover {
    transform: scale(1.1);
    font-weight: bold;
    cursor: pointer;
    color: #363636;
    z-index: 1000;
    transition: 0.4s ease-in-out;
}

.menu-icon {
    display: none;
}

/* .menu-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    text-align: center;
    width: 100%;
} */


@media screen and (min-width: 128px) and (max-width: 900px) {
    .desktop-menu {
        position: fixed;
        right: -300px;
        top: 64px;
        background: #ececec;
        width: 280px;
        height: 100%;
        transition: 0.4s ease-in-out;
    }

    .desktop-menu ul li {
        display: block;
        text-align: left;
        padding: 10px 0px 10px 26px;
        margin: 0px;
        border-bottom: 1px solid grey;
    }

    .menu-icon {
        display: block;
        color: black;
        font-size: 40px;
        padding: 10px;
    }

    .mobile-menu {
        right: 0;
        transition: 0.4s ease-in-out;
    }
}