<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-3">
                    <div class="logo-container">
                        <img src="assets/Deceek-Logo.png" alt="Deceek Logo" class="logo">
                    </div>
                </div>

                <div class="col-md-9 col-sm-9 col-9 text-end">
                    <div class="menu-icon" (click)="toggleMenu()">
                        <i class="{{menu_icon}}"></i>
                    </div>
                    <div class="desktop-menu" [class.mobile-menu]="menuValue">
                        <ul>
                            <li (click)="(closeMenu())">Construction</li>
                            <li (click)="(closeMenu())">Agriculture</li>
                            <li (click)="(closeMenu())">Properties</li>
                            <li (click)="(closeMenu())">About</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </header>
</body>

</html>