header{
    padding: 10px;
    background: #ececec;
}
.logo {
    width: 100px;
}
.logo:hover {
    cursor: pointer;
}
.desktop-menu {
    margin-top: 24px;
}
.desktop-menu ul {
    padding: 0;
    margin: 0;
}
.desktop-menu ul li {
    list-style-type: none;
    color: black;
    display: inline-block;
    font-size: 20px;
    margin-left: 30px;
}
.desktop-menu ul li:hover {
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    color: #363636;
    transition: 0.4s ease-in-out;
}
.menu-icon {
    display: none;
}