:host {
  position: fixed;
  top: 0;
  width: 100%;
  background: #edf1fe;
  z-index: 100000;
}
header {
  background: #edf1fe;
  height: 60px;
  top: 0;
  border: 3px solid #edf1fe;
  box-shadow: 3px 3px 5px rgba(241, 234, 234, 0.63);
}

.logo {
  height: 50px;
  width: 50px;
}

.logo:hover {
  cursor: pointer;
}

.desktop-menu {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
}

.desktop-menu li {
  list-style-type: none;
  color: #0563bb;
  /* margin-left: 0; */
  margin-right: 10px;
  align-items: center;
  font-weight: 500;
  font-size: large;
}

.desktop-menu li:hover {
  transform: scale(1.1);
  font-weight: bold;
  cursor: pointer;
  color: #363636;
  z-index: 1000;
  transition: ease-in-out;
}

.menu-icon {
  display: none;
}

/* Breaking Points */
@media screen and (max-width: 576px) {
  .desktop-menu {
    /* top: o; */
    /* bottom: 0; */
    height: 100%;
    border: 1px solid red;
  }
  .mobile-menu {
    right: 0;
    transition: 0.4s ease-in-out;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
}

@media screen and (min-width: 638px) and (max-width: 900px) {
  .desktop-menu {
    position: fixed;
    right: -300px;
    top: 64px;
    background: #edf1fe;
    width: 280px;
    height: 100%;
    transition: 0.4s ease-in-out;
  }

  .desktop-menu ul li {
    display: block;
    text-align: left;
    padding: 10px 0px 10px 26px;
    margin: 0px;
    border-bottom: 1px solid grey;
  }

  .menu-icon {
    display: block;
    color: black;
    font-size: 40px;
    padding: 10px;
  }

  .mobile-menu {
    right: 0;
    transition: 0.4s ease-in-out;
  }
}
