<header>
  <div class="container-box">
    <div class="logo-container">
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        style="text-decoration: none"
      >
        <img src="assets/deceekLogo.svg" alt="Deceek Logo" class="logo" />
      </a>
    </div>

    <div class="menu-icon" (click)="toggleMenu()">
      <i class="{{ menu_icon }}"></i>
    </div>

    <div class="desktop-menu" [class.mobile-menu]="menuValue">
      <ul>
        <li>
          <a
            (click)="closeMenu()"
            routerLink="/construction"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            style="text-decoration: none"
            >Construction</a
          >
        </li>
        <li>
          <a
            (click)="closeMenu()"
            routerLink="/projects"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            style="text-decoration: none"
            >Projects</a
          >
        </li>
        <li>
          <a
            (click)="closeMenu()"
            routerLink="/properties"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            style="text-decoration: none"
            >Properties</a
          >
        </li>
        <li>
          <a
            (click)="closeMenu()"
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            style="text-decoration: none"
            >About</a
          >
        </li>
        <li>
          <a
            (click)="closeMenu()"
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            style="text-decoration: none"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
