<div class="footer-container">
    <div class="trademark-container">
        <p>&copy; {{ year }} {{ company }}. All Rights Reserved</p>
    </div>

    <div class="logo-container">
        <img src="/assets/Deceek-Logo.png" alt="Logo" class="logo-image">
    </div>

    <div class="chatbox-container">
        <!-- <p>Let's Chat!</p> -->
        <div>
            <fa-icon [icon]="faLinkedin" style="color: blue; font-size: 40px;"></fa-icon>
            <a href=""></a>
        </div>
        <div>
            <fa-icon [icon]="faInstagram" style="color: #FD1D1D; font-size: 40px;"></fa-icon>
        </div>
        <div>
            <fa-icon [icon]="faWhatsapp" style="color: #25D366; font-size: 40px;"></fa-icon>
        </div>
        
    </div>

</div>