<div class="footer-container">
  <div class="trademark-container">
    <p class="trademark-text">
      &copy; {{ year }} {{ company }}. All Rights Reserved
    </p>
  </div>

  <!-- <div class="logo-container">
        <img src="/assets/Deceek-Logo.png" alt="Logo" class="logo-image">
    </div> -->

  <div class="chatbox-container">
    <div>
      <fa-icon
        [icon]="faLinkedin"
        class="fa-icon-style"
        style="color: blue"
      ></fa-icon>
      <a href=""></a>
    </div>
    <div>
      <fa-icon
        [icon]="faInstagram"
        class="fa-icon-style"
        style="color: #fd1d1d"
      ></fa-icon>
    </div>
    <div>
      <fa-icon
        [icon]="faWhatsapp"
        class="fa-icon-style"
        style="color: #25d366"
      ></fa-icon>
    </div>
  </div>
</div>
