p {
    color: white;
}
.footer-container {
    background-image: url(/assets/keldeckerStripMall/sampleFooter1.jpg);
    height: 100%;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    display: flex;
}
.trademark-container,
.logo-container,
.chatbox-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 15px;
}
.chatbox-container div:hover {
    cursor: pointer;
    font-size: 50px;
    transition: 1.1s ease-in-out;
}
.logo-image:hover {
    cursor: pointer;
}
.logo-image {
    width: 40%;
    height: 100%;
}