<div class="homepage-body">
  <section class="hero-section" id="hero-section">
    <div class="hero-heading">
      <div class="hero-heading-title">
        <h1>Deceek</h1>
      </div>

      <div class="hero-heading-subtitle">
        <h2>Management</h2>
      </div>

      <div class="hero-heading-btn">
        <button class="hero-call-to-action-btn">
          Lets Build<span
            class="material-symbols-outlined"
            style="color: black; font-size: 24px; vertical-align: middle"
          >
            trending_flat
          </span>
        </button>
      </div>

      <div class="hero-quote">
        <p>
          "The best investment on earth, is earth" ~<strong
            >Glickmanng ser</strong
          >
        </p>
      </div>
    </div>
  </section>

  <section class="project-portfolio" id="project-section">
    <div class="portfolio-heading-holder">
      <h2 class="section-headings">PORTFOLIO</h2>
    </div>

    <!--Insert an Swiper slide for all screens, in Threes-->

    <div class="project-display">
      <div class="project-container">
        <div class="project-article">
          <div class="project-image-slider"></div>
          <div class="project-data-details">
            <span class="details-description"
              >A Commercial Business Building, Eldoret, Kenya</span
            >
            <strong>Progress: 100%</strong>
            <!-- <h4>Progress: 75%</h4> -->
            <a href="#" class="project-call-to-action">Explore Project</a>
          </div>
        </div>
      </div>

      <div class="project-container">
        <h5>Commercial Residential</h5>
      </div>

      <div class="project-container">
        <h5>Private Residence</h5>
      </div>
    </div>
  </section>

  <section class="services-section" id="services-section">
    <div class="services-container">
      <div class="service-header">
        <h2 class="section-headings">SERVICES</h2>
        <div class="service-header-description">
          <p>
            Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
            aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
            quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
            fugiat sit in iste officiis commodi quidem hic quas.
          </p>
        </div>
      </div>
      <div class="container-items">
        <div class="service-item-container">
          <div class="service-icon-box">
            <div class="service-icon">
              <span class="material-symbols-outlined icon-style">
                construction
              </span>
            </div>
            <h5>Construction Management</h5>
            <p>
              Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit
              alias ea.
            </p>
          </div>

          <div class="service-icon-box">
            <div class="service-icon">
              <span
                class="material-symbols-outlined icon-style"
                style="color: orange"
              >
                architecture
              </span>
            </div>
            <h4>Building Design</h4>
            <p>
              Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit
              alias ea.
            </p>
          </div>

          <div class="service-icon-box">
            <div class="service-icon">
              <span
                class="material-symbols-outlined icon-style"
                style="color: aqua"
              >
                forklift
              </span>
            </div>
            <h4>Material Sourcing</h4>
            <p>
              Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit
              alias ea.
            </p>
          </div>
        </div>

        <div class="service-item-container">
          <div class="service-icon-box">
            <div class="service-icon">
              <span
                class="material-symbols-outlined icon-style"
                style="color: blueviolet"
              >
                manage_search
              </span>
            </div>
            <h4>Property Management</h4>
            <p>
              Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit
              alias ea.
            </p>
          </div>
          <div class="service-icon-box">
            <div class="service-icon">
              <span
                class="material-symbols-outlined icon-style"
                style="color: indigo"
              >
                handshake
              </span>
            </div>
            <h4>Property Leasing & Purchase</h4>
            <p>
              Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit
              alias ea.
            </p>
          </div>

          <div class="service-icon-box">
            <div class="service-icon">
              <span
                class="material-symbols-outlined icon-style"
                style="color: cadetblue"
              >
                moving_ministry
              </span>
            </div>
            <h4>Moving Services</h4>
            <p>
              Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit
              alias ea.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonial-section" id="testimonial-section">
    <div class="testimonials-container">
      <h2 class="section-headings">Testimonials</h2>
      <div class="testimonial-image-container">
        <div class="image-container">
          <img
            src="/assets/keldeckerStripMall/keldeckertestimonial1.jpeg"
            alt="Kiptoo Keldecker"
            class="testimonial-quote-image"
          />
        </div>
      </div>
      <div class="testimonial-about">
        <h5 class="testimonial-about-name">Kelvin Kiptoo</h5>
        <h6 class="testimonial-about-building">
          Owner: <a href="#">Keldecker Strip Mall</a>
        </h6>
      </div>
      <div class="testimonial-quote">
        <p style="text-align: center; font-style: italic">
          <span
            class="material-symbols-outlined quote-icon"
            style="transform: rotate(180deg)"
          >
            format_quote
          </span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor
          sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
          <span class="material-symbols-outlined quote-icon">
            format_quote
          </span>
        </p>
      </div>
    </div>
  </section>

  <section class="contact-section" id="contact-section">
    <div class="contact-section-heading">
      <h2 class="section-headings">Talk To Us!</h2>
    </div>
    <div class="contact-section-container">
      <app-contact-form></app-contact-form>
    </div>
  </section>

  <section class="footer-section" id="footer-section">
    <app-footer></app-footer>
  </section>
</div>
