/*---------------------------------------------------------------------------------
# General
----------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    display: block;
    padding-top: 120px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
    height: calc(100vh-120px);
    top: 120px;
}

a {
    color: #0563bb;
    text-decoration: none;
}

a:hover {
    color: #067ded;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    color: #45505b;
    margin: 15px 0 0 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

/*---------------------------------------------------------------------------------
# Hero Section
----------------------------------------------------------------------------------*/

.hero-section {
    height: 100vh;
    background-color: white;
    /* display: flex; */
    background-image: url(../../assets/AtticElevation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-template-areas:
        "head head head"
        "texts texts texts"
        "texts texts texts"
    ;
}

.hero-heading {
    justify-content: center;
    grid-template-areas: "head";
    height: 20vh;
    display: grid;
    place-items: center;
}
.hero-texts {
    grid-template-areas: "texts";
    height: 80vh;
    grid-template-columns: 70% 30%;
}


.hero-heading h1 {
    font-size: 60px;
    color: black;
}

.page-one {
    height: 80vh;
    background-color: (30, 50, 100);
}

.page-two {
    height: 80vh;
    background-color: rgb(61, 57, 83);
}

.page-three {
    height: 80vh;
    background-color: rgb(160, 158, 174);
}