<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>

        <section class="hero-section">

            <div class="hero-about">
                <p>Deceek Management offers pre-formatted HTML snippets for paragraphs, <br> ordered lists,
                    unordered lists, and more.
                    <br>Simply click on the desired section, and the corresponding HTML-Ipsum <br>
                    block will be copied to your clipboard.
                </p>
                <a href="#">Build With Us</a>
            </div>
            <div class="hero-heading">
                <h1>Deceek</h1>
            </div>
            <div class="hero-quote">
                <p>"The best investment on earth, <br> is earth" ~ Louis Glickmanng ser</p>
            </div>
        </section>

        <section class="page-one">
            <div class="project-display">
                <div class="Project-container">
                    <P>Project 1</P>
                </div>

                <div class="Project-container">
                    <P>Project 2</P>
                </div>

                <div class="Project-container">
                    <P>Project 3</P>
                </div>
            </div>
        </section>

        <section class="page-two">
            <p>This is page-two</p>
        </section>

        <section class="page-three">
            <p>This is page-three</p>
        </section>

    </div>

</body>

</html>