<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <section class="welcome-page">
            <p>This is the welcome-page</p>
        </section>
    
        <section class="page-one">
            <p>This is page-one</p>
        </section>
    
        <section class="page-two">
            <p>This is page-two</p>
        </section>
    
        <section class="page-three">
            <p>This is page-three</p>
        </section>
    
    </div>
    
</body>
</html>