/*---------------------------------------------------------------------------------
# General
----------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    display: block;
    padding-top: 60px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
    top: 60px;
}

a {
    color: #0563bb;
    text-decoration: none;
}

a:hover {
    color: #067ded;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    color: #45505b;
    margin: 15px 0 0 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

/*---------------------------------------------------------------------------------
# Hero Section
----------------------------------------------------------------------------------*/

.hero-section {
    height: 100vh;
    background-color: white;
    display: flex;
    background-image: url(../../assets/AtticElevation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-heading {
    flex: 1;
    margin-top: 30px;
    margin: 10px;
    padding: 10px;   
}
.hero-heading h1 {
    font-size: 100px;
    font-weight: bolder;
    color: #0b1586;
    margin-top: 90px;
}
.hero-about {
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 10px;
    padding: 10px;
    align-self: center;
}
.hero-about p {
    color: white;
}
.hero-quote {
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    align-self: center;
}
.hero-quote p {
    color: white;
}

.page-one {
    height: 80vh;
    background-color: white;
}

.page-one .project-display {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.page-one .project-display .project-container {
    display: grid;
}

.page-two {
    height: 80vh;
    background-color: rgb(61, 57, 83);
}

.page-three {
    height: 80vh;
    background-color: rgb(160, 158, 174);
}