/* :host {
  height: 100%;
  width: 100%;
} */
/* .construction-body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  background-color: black;

  border: 3px solid red;
}
p {
  color: black;
} */
