/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* @import 'swiper"/swiper-bundle.css'; */

:root {
  --background-color: #f3f3f3;
  --container-color: hsl(0, 0%, 100%);
  --accent-color: hsl(209, 95%, 38%);
  --font-color: hsl(0, 0%, 0%);
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}
a {
  color: var(--font-color);
  text-decoration: none;
}
a:hover {
  color: var(--accent-color);
  text-decoration: none;
}
p {
  color: var(--font-color);
  margin: 15px 0 0 0;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color);
}
